<!-- header  start-->
<div class="fi_header">
    <div class="header_flex">
        <div class="header_logo">
            <img src="https://dev-firstinterval.appqik.us/assets/theme/dist/img/logo.png" alt="">
            <h4>First Interval</h4>
        </div>
        <div class="video_title">
            <h4>{{'Gold Swim run'}}</h4>
        </div>
        <div class="fi_menu">
            <ul>
                <li><a><span><i class="feather-globe"></i></span></a></li>
                <li><a><span><i class="feather-bell"></i></span></a></li>
                <li><a><span><i class="feather-plus"></i></span></a></li>
                <li><a><span><i class="feather-chevron-down"></i></span></a></li>

            </ul>
        </div>
    </div>
</div>

<!-- header end  -->
<!-- video section start here -->

<div class="fi_video_wrapper" [ngClass]="{window_expand: hasWindowToggle}">
    <!-- video left sidebar -->
    <div class="fi_video_left_sidebar">
        <!-- video player -->
        <div class="fi_video_player" #videoWrapper >
          <vg-player  (onPlayerReady)="onPlayerReady($event)"  [ngClass]="{'full_screen': isVideoFullScreen}">
              <div class="go_back" (click)="closeSettingsTab()" *ngIf="isVideoFullScreen"><span><i class="feather-arrow-left"></i> </span>Go Back</div>
              <vg-buffering></vg-buffering>
                <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
                <div class="video_bookmark video_data" *ngIf="videoData">
                  <ng-container *ngFor="let annotate of videoData?.video.annotations; let i = index">
                    <div class="custom_scrub_bar" (click)="playFromCurrentTime(annotate?.frame_time)"
                         [ngStyle]="{'left':annotate?.duration + '%'}" id="{{annotate?.duration}}">
                    </div>
                  </ng-container>
                </div>
                <vg-controls id="video_controls" [ngStyle]="{'width':isVideoFullScreen === false ? '96%' : '97%' }">
                    <!--Skip 0.05s Backward-->
                    <div class="skip_buttons video_custom_buttons_hover" (click)="skipButtons(0.05, 'backward')">
                        <span class="feather-chevrons-left"></span>
                    </div>
                    <vg-play-pause  ></vg-play-pause>
                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                    <!--Skip 0.05s forward-->
                    <div class="skip_buttons video_custom_buttons_hover" (click)="skipButtons(0.05, 'forward')">
                        <span class="feather-chevrons-right"></span>
                    </div>
                  <!-- custom bookmark buttons -->
                  <div class="bookmark_icon custom_common_buttons video_custom_buttons_hover">
                    <abbr title="Add Comments"> <span (click)="showTab('notes')" ><i class="feather-message-square"></i></span></abbr>
                  </div>
                    <!--Minimize & Maximize video bar-->

                  <vg-scrub-bar>
                  </vg-scrub-bar>
                    <vg-playback-button></vg-playback-button>
                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                  <vg-mute></vg-mute>
                  <!--custom settings icons-->
                  <div class="bookmark_icon settings_icon video_custom_buttons_hover custom_common_buttons ">
                    <div  (click)="openSettingsTab()">
                      <abbr title="add Elements">
                        <span><i class="feather-settings"></i></span>
                      </abbr>
                    </div>
                      <div class="max_min_icon video_custom_buttons_hover" (click)="openVideoOnFullScreen()">
                          <span  [ngClass]="{'feather-minimize':isVideoFullScreen, 'feather-maximize':!isVideoFullScreen}"></span>
                      </div>
                    <div class="elements_wrapper" *ngIf="isSettingTabOpen">
                      <div class="elements_grid">
                        <ul id="shapes">
                          <li (click)='setSelection("angle"); addShape("angle");'><span class="feather-triangle"></span>Angle</li>
               <!--           <li (click)='setSelection("arrow"); addShape("arrow");'><span class="feather-arrow-right"></span>Arrow</li>
                          <li (click)='setSelection("line"); addShape("line");'><span class="feather-minus"></span>Line</li>-->
                          <li (click)='setSelection("line"); addShape("line");'><span class="feather-minus"></span>Draw</li>
                          <li (click)='setSelection("rectangle"); addShape("rectangle")'><span class="feather-square"></span>Rectangle</li>
                          <li (click)='setSelection("circle"); addShape("circle")'><span class="feather-circle"></span>Circle</li>
                        <!--  <li (click)='setSelection("text"); addShape("text")'><span class="feather-type"></span>Text</li>-->

                        </ul>
                      </div>
                      <div class="elements_grid">
                        <ul id="color_selecions">
                          <li (click)="selectColor(item?.colorCode)" *ngFor="let item of colors">  <span [ngStyle]="{'background-color':item.colorCode}"></span>  </li>
                        </ul>
                      </div>
                      <div class="elements_grid">
                        <ul id="buttons_gird">
                          <li (click)="clearAllPath()" *ngIf="isCLearAllEnabled">Clear All</li>
                          <li (click)="onSaveAnnotateImg()" >Save</li>
                        </ul>
                      </div>
                      <button id="close_settings_button" (click)="closeSettingsTab()" ><i class="feather-x"></i></button>

                    </div>
                  </div>
                  <vg-volume></vg-volume>

                </vg-controls>
              <video #myMedia
                     [vgMedia]="myMedia"
                     src= "../assets/videoplayback2.webm"
                     id="singleVideo"
                     preload="auto"
                     crossorigin>
              </video>

                <div id="angle-canvas" #screen >
                  <svg ><defs><marker id="arrowhead" viewBox="0 0 10 10" refX="5" refY="5" markerWidth="8" markerHeight="8" orient="auto"><path d="M0,0L10,5L0,10z" /></marker></defs></svg>
                </div>
              <div id="annotated_img" *ngIf = "videoData?.video.annotations.length >= 1" >
                  <ng-container  *ngFor="let annotate of videoData?.video.annotations; let i = index">
                      <h1 style=" position: absolute; left: 10px;z-index: 9999; color: #fff;">{{api.currentTime}}</h1>
                      <h1 style=" position: absolute; left: 10px;top:120px; z-index: 9999; color: #fff;" *ngIf = "showAnnotateImg(annotate.frame_time, api.currentTime)">{{annotate.frame_time}}</h1>
                      <img src="{{annotate.image_url}}" alt="annotate_img" *ngIf = "showAnnotateImg(annotate.frame_time, api.currentTime) && !videoData?.video.annotations[i].label">
                  </ng-container>
              </div>
          <!--  <ng-container  *ngFor="let item of videoAnnotateData">

              <img [src]="item.image_url" class="annotate_img" *ngIf = " annotate.frame_time >= api.currentTime && annotate.frame_time <= api.currentTime + 0.20" >
            </ng-container>-->
          </vg-player>
          <div class="video_content">
            <!-- video content tabs -->
            <div class="fi_custom_video_tab">
                <ul>
                    <li *ngFor="let item of videoTabContent" (click)="showTab(item.title)" id="{{item.title}}"
                        [ngClass]="{active_tab: item.title == tabName}">{{item.title}}</li>
                </ul>
                <div id="save_changes">
                    <button  (click)="onSubmit()">Save Changes</button>
                </div>
            </div>
            <div class="fi_tab_content">
                <div class="descriptions fi_common_tab_wrapper" *ngIf="tabName == 'descriptions'">
                     <h4>{{videoData?.title}} <span>(Distance:&nbsp; {{videoData?.actual_distance_in_meter}}m)</span> </h4>
                  <p>
                      {{videoData?.remark}}
                    </p>
                </div>
                <div class="notes fi_common_tab_wrapper" *ngIf="tabName == 'notes'">
                  <ng-container  *ngIf="isToggleNotesForm">
                    <div class="create_new_note" (click)="showTab('notes')"  >
                      <h4>Create A New Note </h4> <span class="feather-plus"></span>
                    </div>
                  </ng-container >
                    <ng-container *ngIf="!isToggleNotesForm">
                      <h4>Create Notes At  <span class="pause_time" *ngIf="currentPauseTime"> {{currentPauseTime}} </span> </h4>
                      <div class="note_grid">
                        <div class="screenshot">
                          <img src="{{capturedImgSrc}}" alt="">
                        </div>
                          <div class="notes_form" >
                             <form [formGroup]="commentForm" (ngSubmit)="onSubmitCommentForm()">
                                 <div class="form_control">
                                     <label for="notes">Notes</label>
                                     <input id="notes" type="text" formControlName="label" placeholder=""  >
                                 </div>
                                 <div class="form_control">
                                     <label>Descriptions</label>
                                     <textarea formControlName="description"></textarea>
                                 </div>
                                 <div class="notes_button">
                                     <a (click)="resetForm()" >Cancel</a>
                                     <button   >Save</button>
                                 </div>
                             </form>
                          </div>
                      </div>
                    </ng-container>
                </div>
                <div class="tags fi_common_tab_wrapper" *ngIf="tabName == 'Account tags'">
                    <h4>Account Tags</h4>
                    <ng-container *ngIf="videoData?.notify_accounts">
                    <table id="account_table" >
                      <tbody>
                      <tr  *ngFor="let notifyAccount of videoData?.notify_accounts">
                      <td><img src="{{notifyAccount?.profile_img}}"   onerror="this.src='https://dev-firstinterval.appqik.us/assets/images/user.svg';" alt="{{notifyAccount?.first_name}}&nbsp;{{notifyAccount?.last_name}}"> </td>
                      <td>{{notifyAccount?.first_name}}&nbsp;{{notifyAccount?.last_name}}</td>
                      <td>{{notifyAccount?.login_email}}</td>
                      <td>+1(185) 272-901</td>
                      <td>Active</td>
                      <td><button><span class="feather-tag"></span>Remove Tag</button></td>
                      </tr>
                      </tbody>
                    </table>
                    </ng-container>
                    <div *ngIf="videoData?.notify_accounts.length  === 0" class="nodatafound">
                        <h3>No Data Found</h3>
                    </div>
                </div>
                <div class="tags fi_common_tab_wrapper" *ngIf="tabName == 'Group tags'">
                    <h4>Group Tags</h4>
                    <div class="billing_group">
                      <ul *ngIf="videoData?.notify_groups">
                          <li *ngFor="let notifyGroups of videoData?.notify_groups">
                              <div class="billing_group_wrapper">
                                  {{notifyGroups.group_name}}
                                  <button><i class="feather-x"></i> </button>
                              </div>
                          </li>

                      </ul>
                        <div *ngIf="videoData?.notify_groups.length === 0" class="nodatafound">
                            <h3>No Data Found</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- video right sidebar -->
    <div class="fi_video_right_sidebar" id="fi_comment_sidebar">
        <div class="fi_video_header">
            <h4>Coach Comments</h4>
        </div>
        <div class="fi_coach_comment">
         <ng-container *ngFor="let annotate of videoData?.video.annotations; let i = index">
            <ng-container *ngIf="annotate.label">
                <div class="comment_wrapper">
                    <div class="comment_heading">
                        <h4>{{annotate.label}}</h4>
                    </div>
                    <div class="comment_body">
                        <div class="comment_image">
                            <img [src]="annotate.image_url" [alt]="annotate.label">
                        </div>
                        <div class="comment_content">
                            <h6>Frame: <span>{{annotate?.frame_time}}</span></h6>
                            <div class="comment_descriptions" [innerHTML]="annotate?.description | slice:0:120" ></div>
                        </div>
                    </div>
                </div>
            </ng-container>
         </ng-container>
        </div>
    </div>
</div>
</div>
