.nodatafound{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
.nodatafound h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    opacity: 0.4;
    color: #6f6969;
    margin-top: 10px;
    margin-bottom: 3px;
}
