/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
/* video header css */

.fi_header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.05);
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  position: relative;
  z-index: 2;
}
.header_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header_logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo img {
  width: 60px;
}
.header_logo h4 {
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 12px;
}
.video_title {
  width: 40%;
  border-left: 2px solid #ccc;
  padding: 0 20px;
}
.video_title h4 {
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 800;
  color: #040404;
  margin: 0;
}
.fi_menu {
  width: 40%;
}
.fi_menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.fi_menu ul li {
  display: flex;
  margin: 0 20px;
  font-size: 24px;
}
.fi_menu ul li a {
  cursor: pointer;
}

.fi_menu ul li a span {
  width: 40px;
  height: 40px;
  background: #eeee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
}
/* video wrapper css start */
.fi_video_wrapper {
  display: flex;
  /* justify-content: center;
    align-items: center; */
  width: 100%;
}
.fi_video_left_sidebar {
  width: 80%;
  height: 100%;
}
.fi_video_player {
  width: 100%;
  height: calc(100vh - 22vh);
  background: #00bcd4;
}
.video_content {
  width: 100%;
  min-height: 400px;
  background: #fff;
}
.fi_video_right_sidebar {
  width: calc(100% - 80%);
  height: 100vh;
  background: #fff;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 80px 0px 20px 0px;
}
.fi_video_header {
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.05);
  background: #fff;
  border-bottom: 1px solid #eee;
  position: relative;
  padding: 0 20px;
}
.fi_coach_comment {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  background: #fff;
  border-left: 1px solid #ccc;
}
.custom_common_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
}
.custom_common_buttons span {
  position: relative;
  top: 5px;
  font-size: 18px;
  cursor: pointer;
}
.custom_common_buttons abbr {
  text-decoration: none;
  cursor: pointer;
}
#video_controls {
background: #063680b8;
    padding: 0 20px;
}

.window_expand .fi_video_left_sidebar {
  width: 100%;
}
.window_expand .fi_video_right_sidebar {
  width: 0;
}
.sticky {
  padding: 0;
}
/* video custom tab */

.fi_custom_video_tab {
  border-bottom: 3px solid #f4f4f4;
  display: flex;
  align-items: center;
}
.fi_custom_video_tab ul {
  margin: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 80%;
}
.fi_custom_video_tab ul li {
  display: block;
  margin: 5px 20px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #939393;
  cursor: pointer;
}
.fi_custom_video_tab ul li.active_tab {
  border-bottom: 3px solid #525252;
  padding-bottom: 5px;
  font-weight: 600;
  color: #525252 !important;
}
.fi_tab_content {
  width: 100%;
  margin: 10px auto;
}
.fi_common_tab_wrapper {
  margin: 0;
  padding: 10px 40px;
}
.fi_common_tab_wrapper h4 {
  font-size: 20px;
  letter-spacing: 1px;
  color: #040404;
  margin: 10px 0px;
}
.fi_common_tab_wrapper span {
  font-size: 17px;
  color: #f44336;
}
.fi_common_tab_wrapper p {
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 27px;
    opacity: 0.7;
    font-weight: 400;
    margin: 5px 0px;
}
:focus{
  outline: none !important;
}
.notes_button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0px;
}

.notes_button a{
  margin: 0 20px;
  color: #023180;
  font-weight: 600;
  font-size: 13px;
  padding: 7px 40px;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 2px solid #023180;
  cursor: pointer;
}
.notes_button button{
  margin: 0 20px;
  border: none;
  background: #023180;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  padding: 10px 40px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
}
.notes_button button:disabled{
  cursor: not-allowed;
  opacity: .6;
}
.pause_time{
  color: #fff !important;
  background: #5059d5!important;
  padding: 2px 10px !IMPORTANT;
  border-radius: 7px;
  margin: 0 10px;
}
.note_grid{
  display: flex;
}
.note_grid .screenshot{
  width: 30%;
  display: flex;
  justify-content: center;
 padding: 17px 0;
}
.note_grid .screenshot img{
  width: 100%;
  height: 210px;
  border-radius: 8px;
}
.note_grid .notes_form{
  width: 70%;
  padding: 0 25px;
}

.form_control{
  margin: 10px 0;
}
.form_control label{
  display: block;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: #040404;
  opacity: .7;
  letter-spacing: 1px;
}
.form_control input{
  height: 40px;
  border: 1px solid #e8e5e5;
  border-radius: 3px;
  padding: 0px 12px;
  letter-spacing: 1px;
  font-size: 15px;
}
.form_control textarea{
  width: 100%;
  height: 80px;
  border: 1px solid #e8e5e5;
  border-radius: 3px;
  padding: 10px;
  letter-spacing: 1px;
  font-size: 15px;
}
.create_new_note{
  border: 1px solid #ccc;
  padding: 4px 20px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
}
.create_new_note h4{
  margin: 5px 0;
  font-size: 17px;
  letter-spacing: 1px;
  width: 95%;
}
.create_new_note  span{
  background: #5059d5!important;
  color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#instructions {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#instructions video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.bookmark_icon {
  position: relative;
  left: 0;
  width: 20px;
  height: 20px;
  top: 8px;
  cursor: pointer;
  opacity: .8;
  margin-left: 15px;
}
.settings_icon{
  margin-right: 10px;
  cursor: pointer;
  opacity: 1;
}
.bookmark_icon svg g path {
  fill: #FFEB3B;
}

.bookmark_icon:hover {
  opacity: 1;
}

.input_for_comment {
  background: #007791;
  position: absolute;
  width: 390px;
  height: 100px;
  bottom: 71px;
  left: 8%;
  border-radius: 7px;
  z-index: 9999;
  overflow: hidden;
}

.input_for_comment textarea {
  top: 1px;
  width: 314px;
  position: absolute;
  right: 29px;
  background: transparent;
  border: none;
  padding: 3px;
  letter-spacing: 1px;
  font-size: 13px;
  color: #fff;
  height: 87px !IMPORTANT;
  border-left: 1px solid #cccccc2e;
  padding-left: 6px;
  padding-top: 11px;
  border-right: 1px solid #cccccc2e;
  padding-right: 4px;
  padding-bottom: 0;
  resize: none;
}

.input_for_comment textarea:focus {
  outline: none !important;
}

.input_for_comment textarea::placeholder {
  color: #fff !important;
}

.input_for_comment {}

.bookmark_small_icon {
  position: relative;
  top: 36px;
  left: 5px;
}

.bookmark_small_icon svg g path {
  fill: #FFEB3B;
}

.ccancel_small_icon {
  position: absolute;
  top: 36px;
  right: 5px;
  cursor: pointer;
}

.cancel_small_icon svg g path {
  fill: #FFEB3B;
}

.cancel_small_icon svg g circle {
  fill: #fff;
}

.custom_scrub_bar {
  width: 6px;
  background: #FFEB3B;
  height: 20px;
  position: absolute;
  border-radius: 40px;
  cursor: pointer;
  top: -16px;
  border: 1px solid #696969;
}

.custom_scrub_bar:hover {
  animation: jello-horizontal 0.9s both;
}

.video_bookmark {
  position: absolute;
  width: 100%;
  bottom: 50px;
  z-index: 999;
}

.jelly_effect_on_hover:hover {
  animation: jello-horizontal 0.9s both;

}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
.comment_wrapper{
  width: 90%;
  overflow: hidden;
  border-bottom: 1px solid #cbcaca;
  padding-top: 15px;
  padding-bottom: 10px;
}

.comment_heading h4{
  background: #f8f8f8;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 7px;
  font-size: 14px;
  letter-spacing: 1px;
}
.comment_body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment_image{
  width: 40%;
}
.comment_image img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.comment_content{
  width: 60%;
  padding: 0 10px;
}
.comment_content h6{
  font-size: 12px;
  letter-spacing: 1px;
  color: #040404;
  margin: 0px;
}
.comment_content h6 span{
  color: #f44336;
}
.comment_content .comment_descriptions{
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 17px;
  opacity: 0.7;
  font-weight: 400;
  margin: 0;
}
.showThumbnail{
  position: absolute;
  width: 250px;
  top: -180px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid #fff;
  left: 0;
  display: none;
  background: #fff;
  text-align: center;
}
.showThumbnail img{
width: 100%;
  height: 100%;
  position: relative;
}
.custom_scrub_bar:hover .showThumbnail{
  display: block;
}
.showThumbnail h5{
  margin: 2px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #033b8b;
  font-size: 15px;
}
#account_table{
  width: 100%;
  border-radius: 8px;

}
#account_table img{
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background: linear-gradient(45deg, #ace143, #219393);
}
#account_table button{
  border: 1px solid #ddd;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 500;
  letter-spacing: 1px;
  background: #ddd;
  border-radius: 4px;
  cursor: pointer;
  font-size: 11px;
  transition: all .5s;
}
#account_table button:hover{
  background: #c44e4e;
  color: #fff;
  border: 1px solid #c44e4e;
}
#account_table button span{
  color: inherit;
  transform: rotate(134deg);
  position: relative;
  top: 2px;
  margin-right: 6px;
  opacity: .6;
  font-size: 12px;
}
#account_table>tbody>tr>td{
  line-height: 1.42857143;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  letter-spacing: 1px;
  margin: auto;
  vertical-align: middle;
  padding: 5px 10px;
  text-align: center;
  font-weight: 500;
}
#account_table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.billing_group{

}
.billing_group ul{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.billing_group ul li{
  margin: 6px;
  display: flex;
  background: #f2f2f2;
  padding: 7px 16px;
  border-radius: 9px;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  letter-spacing: 1px;
  transition: all .5s;
}
.billing_group ul li button{
  cursor: pointer;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #c44e4e;
  border: none;
  position: absolute;
  top: -14px;
  right: 0;
  color: #fff;
  font-size: 19px;
  display: none;
}
.billing_group ul li:hover{
  border: 1px solid #ccc;
  box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.05);
}
.billing_group ul li:hover button{
  display: flex;
}
#video_canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.drawing_canava{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}
.elements_wrapper{
  position: absolute;
  min-width: 836px;
  height: 105px;
  background: #000000cf;
  top: -125px;
  right: -100px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff4f;
  display: grid;
  grid-template-columns: 33% 31% 26%;
  overflow: hidden;
}
.elements_wrapper .elements_grid:nth-child(3){
  border: none;
}
.elements_grid{
  border-right: 1px solid #ffffff4f;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.elements_grid #shapes{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 15px;
}
.elements_grid #shapes li{
  display: block;
  width: 45%;
  padding: 5px 6px;
  overflow: hidden;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}
.elements_grid #shapes li span{
  font-size: 15px;
  margin-right: 10px;
  top: 1px;
}
.elements_grid #shapes li:hover{
  background: #ffffff5c;
  border-radius: 8px;
  font-weight: bold !IMPORTANT;
}
.elements_grid #color_selecions{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;}
.elements_grid #color_selecions li{
  display: block;
  margin: 10px;
  opacity: .6;
  transition: all .5s;
}
.elements_grid #color_selecions li:hover{
  opacity: 1;
}
.elements_grid #color_selecions li span{
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
}

.elements_grid #buttons_gird{
  display: flex;
  justify-content: center;
  margin-top: 31px;
  align-items: center;
  padding: 0;
}

.elements_grid  #buttons_gird li{
  display: block;
  margin: 8px 7px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  border: 1px solid #ccc;
  padding: 5px 20px;
  font-size: 14px;
  letter-spacing: 1px;
}
.elements_grid  #buttons_gird li:nth-child(3){
  background: #3F51B5;
  color: #fff;
  border: 1px solid #3f51b5;
}
#close_settings_button{
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg,#ace143,#219393);
  color: #fff;
  border: none;
  font-size: 16px;
  opacity: 1 !IMPORTANT;
  cursor: pointer;
}
svg > g > line {
  stroke: transparent;}
svg  text {
  text-anchor: middle;
  font-size: 30px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  user-select: none;
}
g line {
  stroke-width: 5px;
}
.compare line {
 }
.handle circle {
  fill-opacity: 0.8;
  stroke: black;
  stroke-opacity: 0.15;
  cursor: crosshair;
}
.handle text {
  fill: grey;
  text-anchor: middle;
}
.difference {
  fill-opacity: 0.5;
}

#angle-canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:3;
}
#angle-canvas svg{
  position: absolute;
  width: 100%;
  height: 100%;
}

#draggable_element{
  position: absolute;
  width: 480px;
  height: 316px;
  y: -209px;
  x: -277px;
  fill: transparent;
}
.full_screen{
  z-index: 9;
  object-fit: contain;
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  box-sizing: border-box !important;
  min-width: 0px !important;
  max-width: none !important;
  min-height: 0px !important;
  max-height: none !important;
  width: 100% !important;
  height: 100% !important;
  transform: none !important;
  margin: 0px !important;

}
.line {
  fill: none;
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.annotate_img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .fi_video_player{
    width: 100%;
    height: 100%;
  }
  .fi_video_right_sidebar{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 10px;
  }
  .fi_video_wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  .fi_tab_content {
    width: 100%;
    margin: 10px auto;
  }
  .fi_video_left_sidebar {
    width: 100%;
    height: 100%;
  }
  .note_grid {
    display: flex;
    flex-direction: column;
  }
  .note_grid .screenshot , .notes_form {
    width: 100% !IMPORTANT;
    padding: 0 !IMPORTANT;
  }
  .note_grid .screenshot img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin: 10px 0px;
  }
  .elements_wrapper {
    grid-template-columns: 100%;
    height: auto;
    top: -250px;
    min-width: 525px;
  }
  .elements_grid #shapes {
    display: flex;
    flex-wrap: unset;
    padding: 0 15px;
    margin: 10px;
  }
  .video_content {
    width: 100%;
    min-height: auto;
  }
  .elements_grid #shapes li {
    display: block;
    width: auto;
  }
}
#save_changes button{
     border: none;
     background: #023180;
     color: #fff;
     font-weight: 500;
     font-size: 12px;
     letter-spacing: 1px;
     border-radius: 5px;
     cursor: pointer;
     width: auto;
     padding: 10px 20px;
}
.go_back{
  position: absolute;
  z-index: 999;
  background: #023180;
  top: 10%;
  right: -90px;
  padding: 10px 20px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 15px;
  transition: all .5s;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}
.go_back span{
margin-right: 10px;
  position: relative;
  top: 3px;
  font-size: 20px;
}
.go_back:hover{
  right: 0;
}
#annotated_img{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
}
#annotated_img img{
width:100%;
height:100%;
position:absolute;
left:0;
top:0;
}
.skip_buttons{
    position: relative;
    top: 14px;
    font-size: 16px;
    cursor: pointer;
    color: #023180;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.video_custom_buttons_hover{
opacity: .7;
    transition: all .5s;
}
.video_custom_buttons_hover:hover{
opacity:1;
}
.max_min_icon{
    position: relative;
    top: 0px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 20px;
}
